{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details form</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<h1 style="text-align:center"><u>Details Form</u></h1>
<form class="container col-md-6" id="form1">
    <input class="form-control" type="text" placeholder="Enter your name">
    Date of birth<input class="form-control" type="date" placeholder="Enter your date of birth">
    <input class="form-control " type="text" placeholder="Enter your age">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> Male</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> Female</label><br>

    <input class="form-control " type="number" placeholder="Enter mobile number">
    <input class="form-control " type="email" placeholder="Enter email id">
    <textarea name="" form="form1" rows="5" cols="63"> Enter address</textarea>
    <label for="cars">Department</label>
    <select id="cars" name="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
    </select>
</form>


<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>